body {
  margin: 0;
  height: 100vh;
  overflow-y: scroll;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
}

.navbar-nav {
  flex-direction: row !important;
  align-items: center !important;
}

.app-container {
  width: 100vw;
  height: 100vh;
}

.nav-avatar {
  width: 25px;
}
