$primary-color: #5cb85c;

body {
  margin: 0;
  height: 100vh;
  overflow-y: scroll;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none !important;
}

.navbar-nav {
  flex-direction: row !important;
  align-items: center !important;
}

.app-container {
  width: 100vw;
  height: 100vh;
}

.nav-avatar {
  width: 25px;
}

.btn-outline-primary {
  --bs-btn-bg: transparent;
  --bs-btn-border-color: #5cb85c;
  --bs-btn-color: #5cb85c;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #5cb85c;
  --bs-btn-hover-border-color: #5cb85c;
  --bs-btn-active-bg: rgb(57, 132, 57);
  --bs-btn-active-border-color: rgb(57, 132, 57);
}
